<div class="nutrition-data-details">
    On , for MEALTYPE, you consumed:
    <!-- Conditionally show li values based on checkbox TODO -->
    <ul>
        <li>AMOUNT calories,</li>
        <li>AMOUNTg of fat,
            <ul>
                <li>of which AMOUNTg was saturated fat,</li>
                <li>AMOUNTg was polyunsaturated fat,</li>
                <li>AMOUNTg was monounsaturated-fat,</li>
                <li>and AMOUNTg was trans fat.</li>
            </ul>
        </li>
        <li>AMOUNTg of carbohydrates,
            <ul>
                <li>of which AMOUNTg was sugar,</li>
            </ul>
        </li>
        <li>AMOUNTg of fibre,</li>
        <li>AMOUNTg of protein,</li>
        <li>AMOUNTmg of cholestrol,</li>
        <li>and AMOUNTmg of salt.</li>
    </ul>
    Additionally, you consumed these micronutrients:
    <ul>
        <li>AMOUNT of potassium,</li>
        <li>AMOUNT of vitamin A,</li>
        <li>AMOUNT of vitamin C,</li>
        <li>AMOUNT of calcium,</li>
        <li>and AMOUNT of iron.</li>
    </ul>
    <p>There were no notes for this calendar month.</p>
</div>

@code {
    
}