@page "/mfp-data-analysis"
@inject IJSRuntime JSRuntime
@inject ILogger<FileUpload> Logger 

<PageTitle>MFP Data Analysis | islandmonkey.uk</PageTitle>

<h1>MFP Data Analysis</h1>

<p><b>Problem:</b> When trying to analyse nutrition data inside the MyFitnessPal app, you have two options, by individual day, or by calendar week.</p>

<p><b>Solution: MFP Data Analyser!</b> If you have purchased MyFitnessPal Premium, you can export your nutritional data to a CSV file. Upload your CSV file here for advanced analysis of the data. Features include:</p>

<ul>
    <li>Analysis of any nutritional data for any range of dates, weeks, or months</li>
    <li>Isolate nutritional data as a date range of breakfasts, lunches, dinners, snacks...</li>
    <li>Understand your nutritional data in more detail.</li>
</ul>

<em>You need MyFitnessPal Premium to export CSV files. Additionally, by using this tool, you agree to this website's <a href="/privacy-policy">privacy policy</a> and the <a href="/tos">terms of service</a>.</em>

<h3>Upload Files</h3>

<MudFileUpload T="IBrowserFile" OnFilesChanged="LoadFile" Accept=".csv">
    <ButtonTemplate>
        <MudButton HtmlTag="label"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   StartIcon="@Icons.Material.Filled.CloudUpload"
                   for="@context">
            Upload MyFitnessPal CSV
        </MudButton>
    </ButtonTemplate>
</MudFileUpload>

@if (loadingSuccess)
{
    <NutritionDataView/>
}
else if (loadingFailure)
{
    <span class="loading-error-message">Failed to load CSV file. Please make sure that it is a MyFitnessPal CSV file that you are uploading and try again.</span>
}