@page "/"

<PageTitle>islandmonkey.uk</PageTitle>

<h1>Aidan Fell</h1>

<p>Hi, I'm Aidan, and I'm a lover of all things tech. This website is built using Blazor, a .NET framework to build simple and easy websites that can incorporate pre-existing C# code into a website.</p>
