@page "/nutrition-data-view"

<p>Show nutrition type:</p>

<input type="checkbox" id="calories"><label for="calories">Calories</label>
<input type="checkbox" id="fat"><label for="fat">Fat</label>
<input type="checkbox" id="carbohydrates"><label for="carbohydrates">Carbohydrates</label>
<input type="checkbox" id="sugar"><label for="sugar">Sugar</label>
<input type="checkbox" id="protein"><label for="protein">Protein</label>
<input type="checkbox" id="fiber"><label for="fiber">Fibre</label>
<input type="checkbox" id="saturated-fat"><label for="saturated-fat">Saturated Fat</label>
<input type="checkbox" id="polyunsaturated-fat"><label for="polyunsaturated-fat">Polyunsaturated Fat</label>
<input type="checkbox" id="monounsaturated-fat"><label for="monounsaturated-fat">Monounsaturated Fat</label>
<input type="checkbox" id="trans-fat"><label for="trans-fat">Trans Fat</label>
<input type="checkbox" id="cholestrol"><label for="cholestrol">Cholestrol</label>
<input type="checkbox" id="sodium"><label for="sodium">Sodium</label>
<input type="checkbox" id="potassium"><label for="potassium">Potassium</label>
<input type="checkbox" id="vitamin-a"><label for="vitamin-a">Trans Fat</label>
<input type="checkbox" id="vitamin-c"><label for="vitamin-c">Cholestrol</label>
<input type="checkbox" id="calcium"><label for="calcium">Sodium</label>
<input type="checkbox" id="iron"><label for="iron">Potassium</label>
<input type="checkbox" id="notes"><label for="notes">Show notes</label>

@code {}
