@page "/privacy-policy"

<PageTitle>Privacy policy | islandmonkey.uk</PageTitle>

<h1>Privacy policy</h1>

<h2>How this website processes your data</h2>
<div class="section-one">
    <p>This website provides you with the ability to upload your MyFitnessPal CSV file to this website as part of the MFP Data Analysis tool. By using this tool, you are agreeing to accept the terms of this privacy policy.</p>
    <p>Upon upload of your CSV file</p>
    <p>This CSV file is processed TBD.....</p>
</div>