@page "/tos"

<PageTitle>Terms of Service | islandmonkey.uk</PageTitle>

<h1 class="tos-header">Terms of service</h1>

<div class="tos-preamble">
    <p class="tos-preamble-para">We hope that you enjoy using the MFP Data Analysis tool on this website. Nonetheless, we would like you to adhere to the Terms of Service so that you can have a better experience in using this tool.</p>
</div>

<div class="malicious-activity">
    <p class="malicious-activity-para">By using the MFP Data Analysis tool available on this website, you agree to accepting these terms of service. Specifically, you must not attempt to use the ability to upload a file onto this website to perform any malicious activities. By malicious, we mean:
        <ul class="malicious-activity-list">
            <li class="malicious-activity-hijack">any file that could result take control of this website,</li>
            <li class="malicious-activity-steal">any file that could steal other user's data,</li>
            <li class="malicious-activity-illegal">or any file that contains content of an illegal nature, whether that be illegal in your home jurisdiction or in the jurisdiction of the United States.</li>
        </ul>
    </p>   
</div>